<a [routerLink]="'/auction/' + auction?.auctionId" class="hover:shadow-lg transition-shadow duration-300 ease-in-out">
  <div class="card border border-gray-200 rounded-lg overflow-hidden w-full">
    <div class="flex flex-col lg:flex-row items-center justify-center">
      <!-- Image Section -->
      <img alt="Auction Image" class="object-cover w-60 h-max rounded-lg shadow-md"
           src="https://picsum.photos/250/200"/>

      <div class=" ml-6 flex flex-col">
        <!-- Auction Title -->
        <h2 class="text-3xl font-semibold primary-color mt-0">
          {{ auction?.book?.title || 'Title not available' }}
        </h2>
        <div class="flex flex-col mt-2 mb-6">
          <p class="font-bold text-xl">{{ 'EUR ' + auction?.lastBid || 'Undefined' }} </p>
        </div>

        <!-- Stats Section -->
        <div class="grid grid-cols-4 text-sm text-gray-600 gap-4 justify-items-center mb-2">
          <div class="flex flex-col items-center">
            <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            <p>Likes: <span class="font-semibold">4</span></p>
          </div>
          <div class="flex flex-col items-center">
            <fa-icon [icon]="['fas', 'comments']"></fa-icon>
            <p>Interactions: <span class="font-semibold">{{ auction?.interactions }}</span></p>
          </div>
          <div class="flex flex-col items-center">
            <fa-icon [icon]="['fas', 'eye']"></fa-icon>
            <p>Views: <span class="font-semibold">{{ auction?.views }}</span></p>
          </div>
          <div class="flex flex-col items-center">
            <fa-icon [icon]="['fas', 'hourglass']"></fa-icon>
            <p class="w-28 text-center">{{ timeLeft }}</p>
          </div>
        </div>
      </div>
      <!-- Canvas Section -->
      <div class="w-50 px-6 flex">
        <canvas id="canvas"> {{ chart }}</canvas>
      </div>
    </div>
  </div>
</a>
