<div class="flex items-center justify-center min-h-screen bg-gray-50">
  <div class="card lg:card-side bg-white shadow-2xl rounded-lg max-w-4xl w-full overflow-hidden">
    <figure class="lg:w-1/2">
      <img src="assets/images/loginImage.jpeg" alt="Random image" class="object-cover w-full h-full" />
    </figure>
    <div class="card-body lg:w-1/2 p-8">
      <!-- Logo Section -->
      <div class="flex justify-center items-center space-x-2 mb-6">
        <img src="assets/images/logo.png" alt="Logo" class="w-24 h-24 object-contain rounded-full" />
        <!--<span class="logo-style">dodò</span>-->
      </div>
      <!-- Title -->
      <h2 class="card-title text-3xl font-extrabold text-gray-800 mb-6 text-center justify-center">Welcome Back!</h2>
      <!-- Form -->
      <form (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="label">
            <span class="label-text text-gray-600">Email</span>
          </label>
          <div class="input-group flex items-center gap-2 border-2 border-gray-300 rounded-lg px-4 py-2 transition">
            <fa-icon [icon]="['fas', 'envelope']" class="search-icon w-5 h-5"></fa-icon>
            <input type="email" [(ngModel)]="form.email" name="email" class="grow bg-transparent focus:outline-none text-gray-700" placeholder="email@example.com" required/>
          </div>
        </div>
        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text text-gray-600">Password</span>
          </label>
          <div class="input-group flex items-center gap-2 border-2 border-gray-300 rounded-lg px-4 py-2-blue-500 transition">
            <fa-icon [icon]="['fas', 'key']" class="search-icon w-5 h-5"></fa-icon>
            <input type="password" [(ngModel)]="form.password" name="password" class="grow bg-transparent focus:outline-none text-gray-700" placeholder="Enter password" required/>
          </div>
          <label class="label">
            <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
          </label>
          <app-toast></app-toast>
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary bg-gradient-to-r text-white font-bold py-2 px-4 rounded-lg primary-color">Login</button>
        </div>
      </form>
      <div class="divider my-6 text-gray-400">OR</div>
      <div class="text-center">
        <p class="text-gray-600">Don't have an account?</p>
        <a routerLink="/register" class="link link-primary text-blue-500 hover:underline">Sign up now</a>
      </div>
    </div>
  </div>
</div>