<div class="navbar bg-base-100">
  <div class="navbar-start clickable" routerLink="/">
    <div class="flex items-center space-x-2">
      <img alt="dodò" class="logo" height="80" ngSrc="assets/images/logo.png" width="80">
      <span class="logo-style">dodò</span>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="navbar-center pe-4 flex align-items-center">
      <div class="search-bar">
        <div class="input-container">
          <div class="input-group">
            <input 
              class="search-input" 
              placeholder="Search an auction..." 
              type="text" 
              name="auctionTitle"
              [(ngModel)]="filters.auctionTitle"
              maxlength="100"
            >
          </div>
          <fa-icon [icon]="['fas', 'search']" class="search-icon" (click)="onSubmit()"></fa-icon>
        </div>
      </div>
    </div>
  </form>

  <div class="navbar-end pe-4 flex align-items-center">
    @if (isLoggedIn) {
      <app-notification></app-notification>
    }
    <div class="dropdown dropdown-end pe-2">
      <div class="icon-container" role="button" tabindex="0">
        <fa-icon [icon]="['fas', 'bars']" class="menu-icon"></fa-icon>
        @if (isLoggedIn && this.avatar_url) {
          <img [src]=this.avatar_url alt="Avatar" class="avatar-image" />
        } @else {
          <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
        }
      </div>

      <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 z-10 no-wrap-text">
        <li *ngIf="isLoggedIn">
          <a href="/profile">
            <fa-icon [icon]="['fas', 'user']" class="mr-2"></fa-icon>
            Profile
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="/mydodo">
            <fa-icon [icon]="['fas', 'gavel']" class="mr-2"></fa-icon>
            My Dodo
          </a>
        </li>
        <li *ngIf="isLoggedIn" (click)="isPopupOpen = true" tabindex="0">
          <a href="/newListing">
            <fa-icon [icon]="['fas', 'plus']" class="mr-2"></fa-icon>
            New Listing
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="/chats">
            <fa-icon [icon]="['fas', 'message']" class="mr-2"></fa-icon>
            Chats
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <button (click)="logout()" class="w-full text-left">
            <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="mr-2"></fa-icon>
            Log out
          </button>
        </li>
        <li *ngIf="!isLoggedIn">
          <a href="/login">
            <fa-icon [icon]="['fas', 'sign-in-alt']" class="mr-2"></fa-icon>
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
