<div class="navbar bg-base-100">
  <div class="navbar-start clickable" routerLink="/">
    <div class="flex items-center space-x-2">
      <img alt="dodò" class="logo" height="80" ngSrc="assets/images/logo.png" width="80">
      <span class="logo-style">dodò</span>
    </div>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="navbar-center pe-4 flex align-items-center">
      <div class="search-bar">
        <div class="input-container">
          <div class="input-group">
            <span class="input-label">Where</span>
            <input class="search-input" placeholder="Everywhere" type="text" formControlName="where">
          </div>

          <hr class="vertical-line">

          <div class="input-group">
            <span class="input-label">ISBN</span>
            <input class="search-input" placeholder="978-3-16-148410-0" type="text" formControlName="ISBN">
          </div>

          <hr class="vertical-line">

          <div class="input-group">
            <span class="input-label">Your Budget</span>
            <input class="search-input" placeholder="€10-€70" type="number" formControlName="budget">
          </div>

          <fa-icon [icon]="['fas', 'search']" class="search-icon" (click)="onSubmit()"></fa-icon>
        </div>
      </div>
    </div>
  </form>

  <div class="navbar-end pe-4 flex align-items-center">
    @if (isLoggedIn) {
      <app-notification></app-notification>
    }
    <div class="dropdown dropdown-end pe-2">
      <div class="icon-container" role="button" tabindex="0">
        <fa-icon [icon]="['fas', 'bars']" class="menu-icon"></fa-icon>
        @if (isLoggedIn) {
          <img [src]=this.avatar_url alt="Avatar" class="avatar-image" />
        } @else {
          <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
        }
      </div>

      <ul class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 z-10">
        <li *ngIf="isLoggedIn">
          <a href="/profile">
            <fa-icon [icon]="['fas', 'user']" class="mr-2"></fa-icon>
            Profile
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="/myauction">
            <fa-icon [icon]="['fas', 'gavel']" class="mr-2"></fa-icon>
            My Auction
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="/ongoing">
            <fa-icon [icon]="['fas', 'dollar-sign']" class="mr-2"></fa-icon>
            On Going Auctions
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="/chats">
            <fa-icon [icon]="['fas', 'message']" class="mr-2"></fa-icon>
            Chats
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="/statistics">
            <fa-icon [icon]="['fas', 'chart-simple']" class="mr-2"></fa-icon>
            Statistics
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <button (click)="logout()" class="w-full text-left">
            <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" class="mr-2"></fa-icon>
            Log out
          </button>
        </li>
        <li *ngIf="!isLoggedIn">
          <a href="/login">
            <fa-icon [icon]="['fas', 'sign-in-alt']" class="mr-2"></fa-icon>
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
