<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="flex items-center space-x-2" routerLink="/">
      <img ngSrc="assets/images/logo.png" alt="dodò" height="80" width="80">
      <span class="logo-style">dodò</span>
    </div>
  </div>

  <div class="navbar-center pe-4 flex align-items-center">
    <div class="search-bar">
      <div class="input-container">
        <div class="input-group">
          <span class="input-label">Where</span>
          <input type="text" placeholder="Everywhere" class="search-input">
        </div>
        <hr class="vertical-line">
        <div class="input-group">
          <span class="input-label">ISBN</span>
          <input type="text" placeholder="978-3-16-148410-0" class="search-input">
        </div>
        <hr class="vertical-line">
        <div class="input-group">
          <span class="input-label">Your Budget</span>
          <input type="text" placeholder="€10-€70" class="search-input">
        </div>
        <fa-icon [icon]="['fas', 'search']" class="search-icon"></fa-icon>
      </div>
    </div>
  </div>

  <div class="navbar-end pe-4 flex align-items-center">
    <div class="dropdown dropdown-end pe-4">
      <div tabindex="0" role="button" class="icon-container">
        <fa-icon [icon]="['fas', 'bars']" class="menu-icon"></fa-icon>
        <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
      </div>
    </div>
  </div>
</div>
