<div class="comments-section bg-white mt-10">
  <h2 class="text-2xl font-semibold text-primary-700 mb-4">Comments</h2>

  <!-- Comment Input Form -->
  <div class="mb-6">
    <p class="text-gray-600 font-medium mb-2">Leave a comment:</p>
    <div class="flex items-start space-x-4">
    <textarea
      id="commentInput"
      [(ngModel)]="commentInputBox"
      rows="3"
      class="input input-bordered w-full max-w-md"
      placeholder="Write your comment...">
    </textarea>
      <button class="btn primary-color" (click)="submitComment()">Submit</button>
    </div>
  </div>

  <!-- Display Comments -->
  <div class="space-y-6 mb-4">
    <div *ngFor="let comment of comments" class="flex items-start space-x-4">
      <!-- Profile Picture -->
      <img
        [src]="comment?.avatar ?
      (comment.avatar.startsWith('https://ui-avatars.com')
          ? comment.avatar
          : 'http://localhost:1338/api/download/avatar/' + comment.avatar)
      : 'http://localhost:1338/api/download/avatar/default-avatar.jpg'"
        alt="Profile Picture"
        class="w-10 h-10 rounded-full shadow-md">

      <!-- Comment Content -->
      <div class="bg-gray-100 p-4 rounded-lg shadow-sm flex-1 relative">
        <!-- Delete Button positioned absolutely -->
        <div *ngIf="isAdmin" class="absolute right-2 top-10 flex items-center h-8 hover:bg-red-100 rounded-full cursor-pointer p-2" (click)="deleteComment(comment._id)">
          <fa-icon [icon]="['fas', 'trash']" class="text-base"></fa-icon>
        </div>

        <p class="text-gray-700 font-medium">{{ comment?.username }}</p>
        <p class="text-gray-600 mt-1">{{ comment?.comment }}</p>
        <span class="text-sm text-gray-400 mt-2 block">{{ comment?.createdAt | date:'short' }}</span>
      </div>

    </div>
  </div>
</div>
