<div class="footer text-sm border-solid border-t border-gray-300 flex items-center justify-center p-6 space-x-4 text-gray-600">
  <span>© 2024 DodoReads, Inc.</span>
  <span class="footer-divider">•</span>
  <a href="#" class="footer-link">Terms</a>
  <span class="footer-divider">•</span>
  <a href="#" class="footer-link">Sitemap</a>
  <span class="footer-divider">•</span>
  <a href="#" class="footer-link">Privacy</a>
  <span class="footer-divider">•</span>
  <a href="#" class="footer-link">Your privacy choices</a>
</div>
