<a [routerLink]="'/auction/' + auction?.auctionId" class="hover:shadow-lg transition-shadow duration-300 ease-in-out">
  <div class="card border border-gray-200 rounded-lg overflow-hidden w-full">
    <div class="flex flex-col lg:flex-row items-center justify-center">
      <!-- Image Section -->
      <img alt="Auction Image" class="w-64 h-56 rounded-lg shadow-md"
           src="{{image_url}}"/>

      <div class=" ml-6 flex flex-col">
        <!-- Auction Title -->
        <h2 class="text-4xl font-semibold primary-color mt-0">
          {{ auction?.title || 'Title not available' }}
        </h2>
        <div class="flex flex-col mt-2">
          <p class="font-bold text-2xl">{{ auction?.lastBid | currency:'EUR':'symbol':'1.2-2' }}</p>
        </div>

        <!-- Stats Section -->
        <div class="grid grid-cols-4 text-sm text-gray-600 justify-items-center mb-2 ml-52">
          <div class="stats scale-75">
            <div class="stat">
              <div class="stat-figure">
                <fa-icon [icon]="['fas', 'eye']" class="mr-2 text-xl"></fa-icon>
              </div>
              <div class="stat-title">Views</div>
              <div class="stat-value">{{auction?.views}} </div>
              <div class="stat-desc">↗︎ 400 (22%)</div>
            </div>

            <div class="stat">
              <div class="stat-figure">
                <fa-icon [icon]="['fas', 'comments']" class="mr-2 text-xl"></fa-icon>
              </div>
              <div class="stat-title">Interactions</div>
              <div class="stat-value">{{ auction?.interactions }}</div>
              <div class="stat-desc">↗︎ 400 (22%)</div>
            </div>

            <div class="stat">
              <div class="stat-figure">
                <fa-icon [icon]="['fas', 'hourglass']" class="mr-2 text-xl"></fa-icon>
              </div>
              <div class="stat-title">Expiration</div>
              <div class="stat-value">{{ auction?.expireDate | date}}</div>
              <div class="stat-desc"> {{timeLeft}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Canvas Section -->
      <div class="w-50 px-6 flex">
        <canvas id="canvas_{{auction?.auctionId}}"> {{ chart }}</canvas>
      </div>
    </div>
  </div>
</a>
