.newListing{
    background-color: #D7AE95;
}
.newListing:hover{
    background-color: #947765;
}

span.logo-style {
    font-family: "Baloo 2", sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #D7AE95;
  }
  