<div class="flex items-center justify-center min-h-screen bg-gray-50">
  <div class="card lg:card-side bg-white shadow-2xl rounded-lg max-w-4xl w-full overflow-hidden">
    <figure class="lg:w-1/2">
      <img src="https://picsum.photos/seed/login/800/600" alt="Random image" class="object-cover w-full h-full" />
    </figure>
    <div class="card-body lg:w-1/2 p-8">
      <h2 class="card-title text-3xl font-extrabold text-gray-800 mb-6">Welcome!</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="label">
            <span class="label-text text-gray-600">Name</span>
          </label>
          <div class="input-group flex items-center gap-2 border-2 border-gray-300 rounded-lg px-4 py-2 focus-within:border-blue-500 transition">
            <fa-icon [icon]="['fas', 'user']" class="search-icon w-5 h-5"></fa-icon>
            <input type="text" [(ngModel)]="form.name" name="name" class="grow bg-transparent focus:outline-none text-gray-700" placeholder="John Doe" required />
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-gray-600">Email</span>
          </label>
          <div class="input-group flex items-center gap-2 border-2 border-gray-300 rounded-lg px-4 py-2 focus-within:border-blue-500 transition">
            <fa-icon [icon]="['fas', 'envelope']" class="search-icon w-5 h-5"></fa-icon>
            <input [(ngModel)]="form.email" name="email" class="grow bg-transparent focus:outline-none text-gray-700" placeholder="email@example.com" type="email" required />
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-gray-600">Password</span>
          </label>
          <div class="input-group flex items-center gap-2 border-2 border-gray-300 rounded-lg px-4 py-2 focus-within:border-blue-500 transition">
            <fa-icon [icon]="['fas', 'key']" class="search-icon w-5 h-5"></fa-icon>
            <input type="password" [(ngModel)]="form.password" name="password" class="grow bg-transparent focus:outline-none text-gray-700" placeholder="Enter password" required />
          </div>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text text-gray-600">Confirm Password</span>
          </label>
          <div class="input-group flex items-center gap-2 border-2 border-gray-300 rounded-lg px-4 py-2 focus-within:border-blue-500 transition">
            <fa-icon [icon]="['fas', 'key']" class="search-icon w-5 h-5"></fa-icon>
            <input type="password" [(ngModel)]="form.passwordConfirmation" name="passwordConfirmation" class="grow bg-transparent focus:outline-none text-gray-700" placeholder="Confirm password" required />
          </div>
          <div *ngIf="isRegisterFailed" class="text-red-500 mt-4">
            <p>{{ errorMessage }}</p>
          </div>
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn text-white font-bold pt-2 py-2 px-4 rounded-lg primary-color">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
