
<div class="container mx-auto p-4">
  <!-- Confirmation Modal -->
  <div *ngIf="showConfirmModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 max-w-md w-full">
      <h3 class="text-lg font-bold mb-4">
        {{ confirmationTitle }}
      </h3>
      <p class="mb-6">{{ confirmationMessage }}</p>
      <div class="flex justify-end gap-3">
        <button (click)="cancelAction()" class="btn btn-ghost">Cancel</button>
        <button (click)="confirmAction()" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
  <!-- Charts Section -->
  <div class="flex grid-cols-2 gap-4 mb-8">
    <!-- First Chart -->
    <div class="card bg-base-200 md:w-1/2 p-4">
      <div class="card-body">
        <h2 class="card-title">Auction Statistics</h2>
        <div *ngIf="statistics.successfullyClosed || statistics.unsuccessfullyClosed" class="chart-container">
          <canvas id="chart1">{{ chart1 }}</canvas>
        </div>
        <div *ngIf="!statistics.successfullyClosed && !statistics.unsuccessfullyClosed" class="chart-container">
          <p class="italic text-gray-600">No data</p>
        </div>
      </div>
    </div>

    <!-- Second Chart -->
    <div class="card bg-base-200 md:w-1/2 p-4">
      <div class="card-body">
        <h2 class="card-title">Moderator Statistics</h2>
        <div class="chart-container">
          <canvas id="chart2">{{ chart2 }}</canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between items-center mt-4">
    <h3 class="text-xl font-bold text-primary-600 primary-color">Manage Users</h3>
    <div class="flex items-center gap-2">
      <div class="relative">
        <input
          (input)="filterUsers()"
          [(ngModel)]="searchTerm"
          class="input input-bordered input-sm pl-10 w-48 md:w-64"
          placeholder="Search users by email..."
          type="text"
        >
        <span class="absolute left-3 top-1/2 -translate-y-1/2">
        <svg class="w-4 h-4 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"/>
        </svg>
      </span>
      </div>
    </div>
  </div>
  <!-- Profile List -->
  <div class="space-y-4">
    <div *ngFor="let user of filteredUsers" class="card bg-base-100 shadow-xl">
      <div [class.bg-red-100]="user.isBanned" class="card-body flex flex-row items-center justify-between gap-4">
        <div class="flex items-center gap-4">
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img
                [src]="user.avatar
                  ? 'http://' + hostname + '/api/download/avatar/' + user.avatar
                  : user.defaultAvatar"
                alt="Profile Picture"
                class="w-10 h-10 rounded-full shadow-md">
            </div>
          </div>
          <div>
            <h3 class="card-title">{{ user.name }}</h3>
            <p class="text-sm text-gray-500">
              {{ user.email }}
            </p>
            <p *ngIf="user.isAdmin" class="text-sm text-gray-500 italic">
              Admin
            </p>
            <p class="text-sm text-gray-500 mt-2">
              Joined: {{ user.createdAt | date }}
            </p>
          </div>
        </div>
        <div class="flex flex-row justify-end gap-2 items-center">
          <!-- Delete Button -->
          <button
            (click)="openConfirmModal('delete', user)"
            aria-label="Delete user"
            class="btn btn-error btn-sm btn-ghost hover:bg-red-100"
          >
            <fa-icon [icon]="['fas', 'trash']" class="text-base"></fa-icon>
          </button>

          <!-- Ban/Unban Button -->
          <button
            (click)="openConfirmModal('ban', user)"
            *ngIf="!user.isBanned"
            aria-label="Ban user"
            class="btn btn-error btn-sm btn-ghost hover:bg-red-100"
          >
            <fa-icon [icon]="['fas', 'ban']" class="text-base"></fa-icon>
          </button>

          <!-- Upgrade Button -->
          <button
            (click)="openConfirmModal('upgrade', user)"
            *ngIf="!user.isAdmin"
            aria-label="Upgrade user"
            class="btn btn-error btn-sm btn-ghost hover:bg-green-100"
          >
            <fa-icon [icon]="['fas', 'person-arrow-up-from-line']" class="text-base"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-toast></app-toast>
