<div class="container mx-auto mt-4 scale-75 cursor-pointer">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <!-- Listing Created Card -->
    <div class="card bg-secondary justify-center items-center" (click)="selectCard('listingCreated')" [class.selected]=" selectedCard === 'listingCreated'">
      <div class="stat w-fit scale-125">
        <div class="stat-figure">
          <fa-icon [icon]="['fas', 'book']" class="mr-2 text-xl"></fa-icon>
        </div>
        <div class="stat-title">Created Listing</div>
        <div class="stat-value">{{userAuctions.length || 0}}</div>
        <div *ngIf="selectedCard !== 'listingCreated'" class="stat-desc">Click to see details</div>
      </div>
    </div>

    <!-- Ongoing Card -->
    <div class="card bg-secondary justify-center items-center" (click)="selectCard('onGoing')" [class.selected]=" selectedCard === 'onGoing'">
      <div class="stat w-fit scale-125">
        <div class="stat-figure">
          <fa-icon [icon]="['fas', 'bolt']" class="mr-2 text-xl"></fa-icon>
        </div>
        <div class="stat-title">Ongoing Auctions</div>
        <div class="stat-value">{{userOngoingAuctions.length || 0}}</div>
        <div *ngIf="selectedCard !== 'onGoing'" class="stat-desc">Click to see details</div>
      </div>
    </div>

    <!-- Participated Auctions Card -->
    <div class="card bg-secondary justify-center items-center" (click)="selectCard('participated')" [class.selected]=" selectedCard === 'participated'">
      <div class="stat w-fit scale-125">
        <div class="stat-figure">
          <fa-icon [icon]="['fas', 'gavel']" class="mr-2 text-xl"></fa-icon>
        </div>
        <div class="stat-title">Participated Auction</div>
        <div class="stat-value">{{userPartecipation.length || 0}}</div>
        <div *ngIf="selectedCard !== 'participated'" class="stat-desc">Click to see details</div>
      </div>
    </div>

    <!-- Winning Auctions Card -->
    <div class="card bg-secondary text-accent-content justify-center items-center" (click)="selectCard('winning')" [class.selected]=" selectedCard === 'winning'">
      <div class="stat w-fit scale-125">
        <div class="stat-figure">
          <fa-icon [icon]="['fas', 'trophy']" class="mr-2 text-xl"></fa-icon>
        </div>
        <div class="stat-title">Won Auction</div>
        <div class="stat-value">{{userWinning.length || 0}}</div>
        <div *ngIf="selectedCard !== 'winning'" class="stat-desc">Click to see details</div>
      </div>
    </div>
  </div>
</div>

<div class="card-container max-w-full max-h-full">
  <div *ngIf="selectedCard === 'listingCreated'">
    <h4 class="text-xl font-bold">Listing Created Details</h4>
    <div class="card-container max-w-full max-h-full">
      <app-created-card *ngFor="let auction of userAuctions" [auction]="auction"></app-created-card>
    </div>
  </div>
  <div *ngIf="selectedCard === 'onGoing'">
    <h4 class="text-xl font-bold">Ongoing Auctions</h4>
    <div class="card-container max-w-full max-h-full">
      <app-partecipated-card *ngFor="let auction of userOngoingAuctions" [auction]="auction"></app-partecipated-card>
    </div>
  </div>
  <div *ngIf="selectedCard === 'participated'">
    <h4 class="text-xl font-bold">Participated Auctions</h4>
    <div class="card-container max-w-full max-h-full">
      <app-partecipated-card *ngFor="let auction of userPartecipation" [auction]="auction"></app-partecipated-card>
    </div>
  </div>
  <div *ngIf="selectedCard === 'winning'">
    <h4 class="text-xl font-bold">Winning Auctions</h4>
    <div class="card-container max-w-full max-h-full">
      <app-won-card *ngFor="let auction of userWinning" [auction]="auction"></app-won-card>
    </div>
  </div>
</div>
