<app-navbar></app-navbar>

<div class="dropdown relative left-20 mt-6">
  <div
    class="btn m-2 text-sm flex items-center gap-2 hover:bg-opacity-90 focus:outline-none active:scale-95 transition-all"
    role="button"
    tabindex="0"
  >
    <fa-icon [icon]="['fas', 'filter']" class="text-gray-700"></fa-icon>
    <span>Filters</span>
  </div>
  <ul
    class="dropdown-content dropdown-bottom dropdown-end menu bg-base-100 rounded-box z-[1] w-96 p-4 shadow-lg space-y-4"
    tabindex="0"
  >
    <li class="space-y-1">
      <label class="label">
        <span class="label-text font-medium text-gray-800">Your Budget</span>
      </label>
      <div class="flex flex-col items-center gap-4">
        <!-- Slider Range -->
        <input
          (input)="applyFilters()"
          [(ngModel)]="filters.maxPrice"
          class="range range-primary bg-gray-200"
          max="300"
          min="0"
          step="1"
          type="range"
        />
        <div class="w-full flex justify-between text-sm px-2 text-gray-600">
          <span>€0</span>
          <span>€{{ filters.maxPrice }}</span>
        </div>
      </div>
    </li>
    <li class="space-y-1">
      <label class="input flex items-center gap-3">
        <fa-icon [icon]="['fas', 'map-marker-alt']" class="text-gray-700"></fa-icon>
        <input
          type="text"
          class="grow"
          placeholder="Location"
          (input)="applyFilters()"
          [(ngModel)]="filters.location"
        />
      </label>
    </li>
    <li class="space-y-1">
      <label class="input flex items-center gap-3">
        <fa-icon [icon]="['fas', 'circle-check']" class="text-gray-700"></fa-icon>
        <input
          type="text"
          class="grow"
          placeholder="Condition"
          (input)="applyFilters()"
          [(ngModel)]="filters.condition"
        />
      </label>
    </li>
  </ul>
</div>

<div class="grid grid-cols-1 gap-4 card-container">
  <app-card *ngFor="let auction of filteredAuctions" [auction]="auction"></app-card>
</div>


<app-footer></app-footer>
