.progressBar {
  background-color: #D7AE95;
}

.card {
  min-height: 250px;
  max-height: 250px;
}

.card-title {
  min-width: 0;
  display:block;
}

.custom-shadow {
  box-shadow: 0 4px 6px -1px rgba(215, 174, 149, 0.2), 0 2px 4px -1px rgba(215, 174, 149, 0.15);
}

.custom-shadow-hover:hover {
  box-shadow: 0 6px 8px -1px rgba(215, 174, 149, 0.4), 0 4px 6px -1px rgba(215, 174, 149, 0.3);
}