<app-navbar></app-navbar>

<div
  *ngIf="isEditing"
  class="fixed inset-0 bg-black opacity-60 z-10 pointer-events-none">
</div>

<div class="container mx-auto z-0">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 bg-base-300 p-6 rounded-lg">

    <!-- Enlarged Carousel Section -->
    <div class="relative w-full">
      <div class="carousel w-full">
        <!-- Carousel items -->
        <div
          *ngFor="let image of data.images; let i = index"
          class="carousel-item relative w-full"
          [id]="'slide' + i"
          [style.display]="activeSlide === i ? 'block' : 'none'"
        >
          <img
            [src]="image ? 'http://localhost:1338/api/download/image/' + image : 'https://picsum.photos/600/600'"
            alt="Book Image"
            class="w-full h-[500px] object-cover rounded-lg shadow-lg"
          />

          <!-- Navigation arrows -->
          <button
            class="btn btn-circle absolute top-1/2 left-2 transform -translate-y-1/2 bg-white text-primary hover:bg-white"
            (click)="previousSlide()"
          >
            ❮
          </button>
          <button
            class="btn btn-circle absolute top-1/2 right-2 transform -translate-y-1/2 bg-white text-primary hover:bg-white"
            (click)="nextSlide(data.images.length)"
          >
            ❯
          </button>
        </div>

        <!-- Like button -->
        <button
          class="btn btn-circle absolute top-2 right-2 text-xl"
          [ngClass]="userLike ? 'text-primary bg-white' : 'text-white'"
          (click)="handleLike(data?.auctionId)"
          *ngIf="isLoggedIn"
        >
          <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Auction Bid Box Section with lastBid on the right -->
    <div class="space-y-6">
      <div class="bg-white p-3 rounded-xl w-full max-w-md ml-5">
        <div class="flex justify-between items-center">
          <ng-container *ngIf="!isEditing; else editTitle">
            <h1 class="text-4xl font-bold text-primary-600 primary-color text-left">
              {{ data?.title || 'Title not available' }}
            </h1>
          </ng-container>
          <ng-template #editTitle>
            <input
              type="text"
              class="input w-full max-w-md border-none input-md text-primary text-3xl font-bold z-20"
              [(ngModel)]="editingTitle"
            />
          </ng-template>

          <div *ngIf="isAdmin" class="flex items-center">
            <fa-icon
              *ngIf="!isEditing"
              [icon]="['fas', 'pen']"
              class="text-black opacity-60 text-xl cursor-pointer"
              (click)="enableEditing()"
            ></fa-icon>
            <fa-icon
              *ngIf="isEditing"
              [icon]="['fas', 'save']"
              class="text-primary text-xl cursor-pointer ml-4 z-20"
              (click)="saveChanges()"
            ></fa-icon>

            <fa-icon
              [icon]="['fas', 'trash']"
              class="text-black opacity-60 text-xl ml-5 cursor-pointer"
              (click)="deleteAuction(data?.auctionId)"
            ></fa-icon>
          </div>
        </div>

        <div class="flex items-center text-3xl font-bold text-primary-600 mt-2">
          <span>{{ data?.lastBid | currency:'EUR':'symbol':'1.2-2' }}</span>
        </div>

        <div class="flex text-slate-600 items-center mb-2 underline">
          <span>{{ offersNumber }} offers - expires in {{ timeLeft }}</span>
        </div>

        <div class="mt-4">
          <ng-container *ngIf="!isEditing; else editDescription">
            <p class="text-md text-gray-700">
              {{ data?.description || 'Description not available'}}
            </p>
          </ng-container>
          <ng-template #editDescription>
            <textarea
              class="textarea relative w-full text-gray-700 text-md  z-20"
              [(ngModel)]="editingDescription"
            ></textarea>
          </ng-template>
        </div>

        <div class="mt-4">
          <p class="text-md text-gray-700">
            <fa-icon [icon]="['fas', 'circle-check']" class="text-primary-500"></fa-icon>
            Condition:
            <span class="font-semibold text-primary-600">
              {{ data?.condition || 'Not available' }}
            </span>
          </p>
        </div>

        <div class="mt-4">
          <p class="text-md text-gray-700">
            <fa-icon [icon]="['fas', 'map-marker-alt']" class="mr-2 text-primary-500"></fa-icon>
            <span>
              {{ data?.country + ', ' + data?.province || 'Location not available' }}
            </span>
          </p>
        </div>

        <hr class="mt-4">

        <button class="btn button-primary-color mt-8 w-full" (click)="isOfferPopupOpen = true">
          Make an Offer
        </button>

        <button class="btn button-secondary-color mt-2 w-full" (click)="openChat()">
          Contact the seller
        </button>
      </div>
    </div>
  </div>

  <h2 class="text-2xl font-semibold text-primary-700 mt-8" *ngIf="data?.book">About the Book</h2>

  <div class="flex items-start ml-4" *ngIf="data?.book">
    <div class="mr-12 mt-5" *ngIf="data?.book?.imageLinks?.thumbnail">
      <img
        src="{{ data?.book?.imageLinks?.thumbnail || 'default-image.jpg' }}"
        alt="Book Cover"
        class="w-48 h-auto rounded shadow-lg"
      />
    </div>

    <div class="flex-1">
      <p class="text-md text-gray-700 mt-4">
        {{ data?.book?.description || 'Description not available'}}
      </p>

      <p class="text-md text-gray-700 mt-4">
        <fa-icon [icon]="['fas', 'book']" class="mr-2 text-primary-500"></fa-icon>
        {{ 'ISBN: ' + (data?.book?.ISBN || 'Not available') }}
      </p>

      <p class="text-md text-gray-700 mt-4">
        <fa-icon [icon]="['fas', 'pencil']" class="mr-2 text-primary-500"></fa-icon>
        {{ 'Authors: ' + (data?.book?.authors?.join(', ') || 'Not available') }}
      </p>

      <p class="text-md text-gray-700 mt-4">
        <fa-icon [icon]="['fas', 'language']" class="mr-2 text-primary-500"></fa-icon>
        {{ 'Language: ' + (data?.book?.language || 'Not available') }}
      </p>

      <p class="text-md text-gray-700 mt-4">
        <fa-icon [icon]="['fas', 'newspaper']" class="mr-2 text-primary-500"></fa-icon>
        {{ 'Publisher: ' + (data?.book?.publisher || 'Not available') }}
      </p>
    </div>
  </div>

  <app-comment></app-comment>
</div>

<app-footer></app-footer>

<div *ngIf="isOfferPopupOpen" class="fullscreen-popup">
  <div class="popup-content p-6 w-full max-w-lg bg-white rounded-lg shadow-lg relative">
    <button
      class="close-button absolute top-4 right-4 text-2xl text-gray-500 hover:text-gray-900"
      (click)="isOfferPopupOpen = false"
    >
      &times;
    </button>
    <h2 class="text-center text-xl font-semibold mb-2">Make an Offer</h2>
    <div>
      <span class="text-gray-600 mb-1">Suggested Bids:</span>
      <div class="flex space-x-4">
        <button
          class="btn btn-sm btn-outline primary-color"
          (click)="setBidAmount(data?.lastBid + 10 || 0)"
        >
          €{{ data?.lastBid + 10 || 'undefined' }}
        </button>
        <button
          class="btn btn-sm btn-outline primary-color"
          (click)="setBidAmount(data?.lastBid + 20 || 0)"
        >
          €{{ data?.lastBid + 20 || 'undefined' }}
        </button>
        <button
          class="btn btn-sm btn-outline primary-color"
          (click)="setBidAmount(data?.lastBid + 50 || 0)"
        >
          €{{ data?.lastBid + 50 || 'undefined' }}
        </button>
      </div>
    </div>

    <div class="flex items-center space-x-4 mt-4">
      <div class="flex-1">
        <input
          id="bidInput"
          type="number"
          class="input input-bordered w-full"
          placeholder="Enter your bid amount"
          [(ngModel)]="bidAmount"
        />
      </div>
      <button class="btn button-color w-40" (click)="placeBid()">Place Bid</button>
    </div>

    <p class="text-sm text-gray-500 mt-4 border-t pt-2">
      <fa-icon [icon]="['fas', 'circle-exclamation']" class="text-primary-500"></fa-icon>
      Please bid responsibly. Ensure you are comfortable with the bid amount before placing your offer. All bids are binding and cannot be withdrawn once submitted.
    </p>
  </div>
</div>
