<app-navbar></app-navbar>

<div class="container mx-auto p-8">
  <!-- Title Section -->
  <h1 class="text-3xl font-bold text-primary-600 primary-color text-center">{{ data?.book?.title || 'Title not available' }}</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 bg-base-200 p-6 rounded-lg">

    <!-- Carousel Section -->
    <div class="relative w-full">
      <div class="carousel w-full">
        <div class="carousel-item relative w-full">
          <img alt="Book Image" class="w-full h-96 object-cover rounded-lg shadow-lg" src="https://picsum.photos/600/600"/>
          <a class="btn btn-circle absolute top-1/2 left-2 transform -translate-y-1/2 bg-primary-600 text-white hover:bg-primary-700" href="#slide3">❮</a>
          <a class="btn btn-circle absolute top-1/2 right-2 transform -translate-y-1/2 bg-primary-600 text-white hover:bg-primary-700" href="#slide2">❯</a>
        </div>
      </div>
    </div>

    <!-- Auction Bid Box Section -->
    <div class="space-y-6">
      <div class="bg-white p-6 rounded-xl shadow-md w-full max-w-md mt-8 ml-12">
        <h2 class="text-2xl font-semibold text-primary-700">Current Offer</h2>
        <div class="text-3xl font-bold text-primary-600 mt-2">
          <span>€{{ data?.lastBid || 'Not available' }}</span>
        </div>

        <div class="mb-2 mt-4">
          <span class="text-gray-600">Suggested Bids:</span>
          <div class="flex space-x-4 mt-2">
            <button class="btn btn-sm btn-outline primary-color btn-primary ">€{{ data?.lastBid + 10 || 'undefined' }}</button>
            <button class="btn btn-sm btn-outline primary-color btn-primary">€{{ data?.lastBid + 20 || 'undefined' }}</button>
            <button class="btn btn-sm btn-outline primary-color btn-primary">€{{ data?.lastBid + 50 || 'undefined' }}</button>
          </div>
        </div>

        <div class="flex items-center space-x-4 mt-2">
          <div class="flex-1">
            <label for="bidInput" class="text-gray-600">Place your bid:</label>
            <input id="bidInput" type="number" class="input input-bordered w-full mt-2" placeholder="Enter your bid amount"/>
          </div>
          <button class="btn button-color mt-8 w-40" (click)="placeBid()">Place Bid</button>
        </div>

      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
    <!-- About the Book Section -->
    <div>
      <h2 class="text-2xl font-semibold text-primary-700">About the Book</h2>
      <p class="text-md text-gray-700 mt-4">
        {{ data?.book?.description || 'Description not available'}}
      </p>

      <p class="text-md text-gray-700 mt-4">
        <fa-icon [icon]="['fas', 'book']" class="mr-2 text-primary-500"></fa-icon>
        {{ 'ISBN: ' + (data?.book?.ISBN || 'Not available') }}
      </p>

      <p class="text-md text-gray-700 mt-4">
        <fa-icon [icon]="['fas', 'pencil']" class="mr-2 text-primary-500"></fa-icon>
        {{ 'Authors: ' + (data?.book?.author?.join(', ') || 'Not available') }}
      </p>
    </div>

    <!-- About the Auction Section -->
    <div>
      <h2 class="text-2xl font-semibold text-primary-700">About the Auction</h2>
      <p class="text-md text-gray-700 mt-4">
        {{ data?.description || 'Description not available'}}
      </p>

      <p class="text-sm text-gray-600 flex items-center space-x-2 pt-3">
        <fa-icon [icon]="['fas', 'circle-check']" class="text-primary-500"></fa-icon>
        <span>Condition: <span class="font-semibold text-primary-600">{{ data?.condition || 'Not available' }}</span></span>
      </p>

      <p class="text-sm text-gray-600 flex items-center space-x-2">
        <fa-icon [icon]="['fas', 'map-marker-alt']" class="mr-2 text-primary-500"></fa-icon>
        <span>{{ data?.country + ', ' + data?.province || 'Location not available' }}</span>
      </p>
    </div>
  </div>
  <button class="btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
    </svg>
    Save
  </button>
  <app-comment></app-comment>
</div>
<app-footer></app-footer>
